[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
flask = "*"
matplotlib = "*"
mlflow = "*"
numpy = "*"
pandas = "*"
prefect = "*"
requests = "*"
scikit-learn = "*"
xgboost = "*"
gunicorn = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
evidently = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
